<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Angular 2 - What's new compare to angular 1</title>

	<meta name="description" content="A short description of Java 8 Features">
	<meta name="author" content="Gaétan Collaud">

	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/css/reveal.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/lib/css/zenburn.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/css/theme/night.min.css"/>
	<!--<link rel="stylesheet"-->
	<!--href="http://slidifylibraries2.googlecode.com/git/inst/libraries/widgets/bootstrap/css/bootstrap.css">-->


	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ?
			'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/css/print/pdf.min.css' :
			'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/css/print/paper.min.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>
	<style>
		.reveal {
			font-size: 38px;
		}
	</style>

	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->
</head>

<body>

<div class="reveal">

	<!-- Any section element inside of this container is displayed as a slide -->
	<div class="slides">
		<section>
			<h1>Angular 2</h1>
			<h2>and beyond</h2>
			<p>
				<small>
					<a href="http://collaud.net">Gaétan Collaud</a> / <a href="http://morphean.ch">Morphean</a>
				</small>
			</p>
		</section>

		<section>
			<h2>Angular</h2>
			<ul>
				<li>Typescript</li>
				<li>Easy lazy loading</li>
				<li>Can be compiled during build (AOT vs JIT)</li>
				<li>From scratch based on the experience of AngualrJS</li>
				<li>Can be render on server side</li>
			</ul>
		</section>

		<section>
			<section>
				<h2>Components</h2>
				<ul>
					<li><s>Directive</s></li>
					<li><s>Controler</s></li>
					<li><s>Scope</s></li>
					<li style="margin-top:1em"><b><u>Component</u></b></li>
				</ul>
			</section>
			<section>
				<h2>Components</h2>
				<ul>
					<li>selector</li>
					<li>inputs</li>
					<li>outputs</li>
					<li>template</li>
				</ul>
				<p>Every graphical element is a component</p>
				<p><a href="https://angular.io/api/core/Component">Doc: Component</a></p>
			</section>

			<section>
				<h2>Hello component</h2>
				<pre><code data-trim class="typescript">
@Component({
	selector: 'greet',
	template: 'hello.html'
})
class Greet {
	@Input
	public name: string = 'World';
}
					</code></pre>
				<pre><code data-trim class="typescript">
<h1>Hello {{name}}!</h1>
					</code></pre>
				</code></pre>
				<br/>
				<pre><code data-trim class="typescript">
<greet name="John"></greet>
					</code></pre>
			</section>

			<section>
				<h2>Service in component</h2>
				<pre><code data-trim class="typescript">
@Component({
	selector: 'greet',
	template: 'hello.html'
})
class Greet implements OnInit {

	public name: string = 'World';

	constructor(private currentUserService:CurrentUserApiService){
	}

	public ngOnInit(){
		this.currentUserService.getCurrentUser()
			.subscribe((u) => this.name = u.firstname);
	}
}
					</code></pre>

			</section>

			<section>
				<h2>Binding: parent -> child</h2>
				<pre><code data-trim class="typescript">
@Component({
	selector: 'my-component',
})
class MyComponent {
	@Input
	public name: string = 'World';

	public dummy():void{
		console.log(`input is ${this.name}`);
	}
}
				</code></pre>
				<br/>
				<pre><code data-trim class="html">
					<my-component name="staticValue"></my-component>
					<my-component [name]="myVarFieldInParent"></my-component>
				</code></pre>
			</section>
			<section>
				<h2>Binding: child -> parent</h2>
				<pre><code data-trim class="typescript">
@Component({
	selector: 'my-component',
})
class MyComponent {
	@Output
	public nameChange: EventEmitter< string > = new EventEmitter();

	public dummy():void{
		nameChange.emit('new name');
	}
}
				</code></pre>
				<br/>
				<pre><code data-trim class="html">
					<my-component (name)="fieldInParent"></my-component>
					<my-component (name)="callbackFunctionInParent(name)"></my-component>
				</code></pre>
			</section>
			<section>
				<h2>Binding: child <-> parent</h2>
				<pre><code data-trim class="typescript">
@Component({
	selector: 'my-component',
})
class MyComponent {
	@Input
	public name;

	@Output
	public nameChange: EventEmitter< string > = new EventEmitter();
}
				</code></pre>
				<br/>
				<pre><code data-trim class="html">
					<my-component [(name)]="fieldInParent"></my-component>
				</code></pre>
				<p class="alert alert-warning">Two-way binding not recommended</p>
			</section>

			<section>
				<h2>Component reference</h2>
				<pre><code data-trim class="typescript">
@Component({selector: 'my-parent'})
class ParentComponent implements OnInit, AfterViewInit {
	@ViewChild(ChildDirective)
	private child: ChildComponent;

	public ngOnInit(){
		//child not set yet !
	}

	ngAfterViewInit() {
		// child is set, we can call it
	}
}
				</code></pre>

			</section>

			<section>
				<h2>Lifecycle</h2>
				<img src="images/component-lifecycle.png"/>
				<p><a href="https://angular.io/guide/lifecycle-hooks">Doc: Lifecycle Hoooks</a></p>
			</section>
		</section>

		<section>
			<section>
				<h2>Directives</h2>
				<ul>
					<li>Similar to component</li>
					<li>Do not contain a template</li>
					<li>Have no graphical content</li>
					<li>Used to extends a dom element (that can be a component)</li>
				</ul>
			</section>
			<section>
				<h2>Directive: Ng-If</h2>
				<pre><code data-trim class="typescript">
@Directive({selector: '[ng-if]', properties: ['ngIf']})
export class NgIf {
	viewContainer: ViewContainerRef;
	protoViewRef: ProtoViewRef;
	prevCondition: boolean;

	constructor(viewContainer: ViewContainerRef, protoViewRef: ProtoViewRef) {
		this.viewContainer = viewContainer;
		this.prevCondition = null;
		this.protoViewRef = protoViewRef;
	}

	set ngIf(newCondition: boolean) {
		if (newCondition && (isBlank(this.prevCondition) || !this.prevCondition)) {
			this.prevCondition = true;
			this.viewContainer.create(this.protoViewRef);
		} else if (!newCondition && (isBlank(this.prevCondition) || this.prevCondition)) {
			this.prevCondition = false;
			this.viewContainer.clear();
		}
	}
}
				</code></pre>
			</section>
			<section>
				<h2>Templates</h2>
				<pre><code data-trim class="html">
  <ul>
    <li *ngFor="let hero of heroes">
      {{ hero }}
    </li>
  </ul>
				</code></pre>
				<pre><code data-trim class="html">
<div *ngIf="show; else elseBlock">Text to show</div>
<ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>
				</code></pre>

			</section>
		</section>

		<section>
			<section>
				<h2>Pipes</h2>
				<ul>
					<li>Replacement of AngularJS filter</li>
					<li>Used to embellish a variable</li>
					<li>Can be asynchronous</li>
					<li>Can work with any type</li>
					<li>Can accept parameter</li>
					<li>Can be chained</li>
				</ul>
			</section>
			<section>
				<h2>Built-in pipes</h2>
				<ul>
					<li>async</li>
					<li>json</li>
					<li>uppercase / lowercase / titlecase</li>
					<li>currency</li>
					<li>date</li>
					<li>slice</li>
					<li>...</li>
				</ul>
			</section>
			<section>
				<h2>Async pipe</h2>
				<pre><code data-trim class="html">
<p>async value: {{ observableOrPromise | async }}</p>
				</code></pre>
			</section>
			<section>
				<h2>Usage</h2>
				<pre><code data-trim class="typescript">
import { Pipe, PipeTransform } from '@angular/core';

@Pipe({
	name: 'exponentialStrength'
})
export class ExponentialStrengthPipe implements PipeTransform {

	transform(value: number, exponent: string): number {
		let exp = parseFloat(exponent);
		return Math.pow(value, isNaN(exp) ? 1 : exp);
	}
}
				</code></pre>
				<pre><code data-trim class="html">
					<p>squared: {{myNumber | exponentialStrength: 2}}</p>
				</code></pre>
			</section>
		</section>
		<section>
			<section>
				<h2>Services</h2>
				<ul>
					<li><s>Factory</s></li>
					<li><s>Provider</s></li>
					<li>Can be injected in components, diretives and pipes</li>
					<li>Can be injected in other services</li>
					<li>Is a singleton (unless you declare it multiple times in the dependencies tree)</li>
					<li>Useful to manage data</li>
					<li>Can be easily unit-tested</li>
				</ul>
			</section>
			<section>
				<h2>Services</h2>
				<pre><code data-trim class="typescript">
@Injectable()
class UsefulService {
}

@Injectable()
class NeedsService {
	constructor(public service: UsefulService) {}
}

//in unit test
const injector = ReflectiveInjector
	.resolveAndCreate([NeedsService, UsefulService]);
expect(injector.get(NeedsService).service instanceof UsefulService)
	.toBe(true);
				</code></pre>
			</section>
			<section>
				<h2>Declaration</h2>
				<h3>In module</h3>
				<pre><code data-trim class="typescript">
@NgModule({
  providers: [UsefulService, NeedsService], //singleton
})
export class AppModule { }
				</code></pre>
				<h3>In component</h3>
				<pre><code data-trim class="typescript">
@Component({
  providers: [NeedsService], //new instance => not singleton
})
export class MyComponent { }
				</code></pre>
			</section>
			<section>
				<h2>Dependecy injection</h2>
				<pre><code data-trim class="typescript">
@Injectable()
class UsefulService {
}

@Injectable()
class NeedsService {
	constructor(public service: UsefulService) {}
}


@Component(...)
export class AppComponent {
	constructor(public service: UsefulService) {}
}
				</code></pre>
			</section>
		</section>
		<section>
			<section>
				<h2>Modules</h2>
				<ul>
					<li>Can import other module (import)</li>
					<li>Can declare services (providers)</li>
					<li>Can declare components (declaration)</li>
					<li>Can export component to other (export)</li>
					<li>Can boostrap an app</li>
				</ul>
			</section>
			<section>
				<pre><code data-trim class="typescript">
@NgModule({
	providers?: Provider[]
	declarations?: Array< Type < any >|any[] >
	imports?: Array< Type < any >| ModuleWithProviders | any[] >
	exports?: Array< Type < any >| any[] >
	bootstrap?: Array< Type< any >|any[] >
	...
})
				</code></pre>
			</section>
			<section>
				<h2>Why creating modules</h2>
				<ul>
					<li>For logic functionalities separation</li>
					<li>For optimisation
						<ul>
							<li>Unused modules will not be in final bundle</li>
							<li>Lazy loading</li>
						</ul>
					</li>
					<li>To hide internal components</li>
				</ul>
			</section>
			<section>
				<h2>Angular modules</h2>
				<ul>
					<li>BrowserModule</li>
					<li>FormModule</li>
					<li>HttpModule</li>
					<li>RouterModule</li>
					<li>...</li>
				</ul>
			</section>
			<section>
				<h2>Dependency lookup</h2>
				<img src="images/dependency-lookup.png"/>
			</section>
			<section>
				<h2>Dependency tree</h2>
				<img src="images/dependencies.svg"/>
				<p><a href="https://github.com/compodoc/ngd">Tools to generate doc</a></p>
			</section>
			<section>
				<h2>forRoot</h2>
				<pre><code data-trim class="typescript">
@NgModule({})
export class SharedModule {
	static forRoot(): ModuleWithProviders {
		return {
			ngModule: SharedModule,
			providers: [CounterService]
		};
	}
}
				</code></pre>
				<pre><code data-trim class="typescript">
@NgModule({
	imports: [ SharedModule.forRoot() ]
})
export class MainModule
				</code></pre>
				<pre><code data-trim class="typescript">
@NgModule({
	imports: [ SharedModule ]
})
export class LazyModule
				</code></pre>
			</section>
		</section>

		<section>
			<section>
				<h2>Router</h2>
				<ul>
					<li>Display view based on the url</li>
					<li>Create/destroy component</li>
					<li>Multiple router-outlet possible</li>
					<li>Route delegation (child router)</li>
					<li>Directive to insert link</li>
					<li>Lazy loading</li>
				</ul>
			</section>
			<section>
				<h2>Router: definition</h2>
				<pre><code data-trim class="typescript">
const appRoutes: Routes = [
	{ path: 'crisis-center', component: CrisisListComponent },
	{ path: 'hero/:id',      component: HeroDetailComponent },
	{
		path: 'heroes',
		component: HeroListComponent,
		data: { title: 'Heroes List' }
	},{
		path: '',
		redirectTo: '/heroes',
		pathMatch: 'full'
	},
	{ path: '**', component: PageNotFoundComponent }
];
				</code></pre>
			</section>
			<section>
				<h2>Router: child</h2>
				<pre><code data-trim class="typescript">
const appRoutes: Routes = [{
   path: 'parent',
   children: [
     { path: 'a', component: ChildA },
     { path: 'b', component: ChildB }
   ]
}];
				</code></pre>
			</section>
			<section>
				<h2>Router: outlet</h2>
				<pre><code data-trim class="typescript">
const appRoutes: Routes = [{
   path: 'parent',
   children: [
     { path: '', component: MainChild },
     { path: '', component: AuxChild, outlet: 'aux' }
   ]
}];
				</code></pre>
			</section>
			<section>
				<h2>Router outlet</h2>
				<pre><code data-trim class="html">
<div class="main-content">
	<router-outlet></router-outlet>
</div>
				</code></pre>
				<pre><code data-trim class="html">
<div class="main-content">
	<router-outlet></router-outlet>
</div>
<div class="aux-content">
	<router-outlet name='left'></router-outlet>
</div>
				</code></pre>
			</section>
			<section>
				<h2>Router link</h2>
				<pre><code data-trim class="html">
<div class="menu">

	<a routerLink="/crisis-center" routerLinkActive="active-class">
	   Crisis Center</a>

	<a routerLink="/heroes" routerLinkActive="active-class">
		Heroes</a>

</div>
				</code></pre>
			</section>
			<section>
				<h2>Route param: definition</h2>
				<pre><code data-trim class="typescript">
export const routes: Routes = [
  { path: '', redirectTo: 'product-list', pathMatch: 'full' },
  { path: 'product-list', component: ProductList },
  { path: 'product-details/:id', component: ProductDetails }
];
				</code></pre>
			</section>
			<section>
				<h2>Route param: naviguate</h2>
				<pre><code data-trim class="html">
<a [routerLink]="['/product-details', product.id]">
	{{ product.name }}
</a>
				</code></pre>
				<pre><code data-trim class="typescript">
goToProductDetails(id) {
	this.router.navigate(['/product-details', id]);
}
				</code></pre>
			</section>
			<section>
				<h2>Route param: read</h2>
				<pre><code data-trim class="typescript">
@Component(...)
export class LoanDetailsPage implements OnInit, OnDestroy {
	id: number;
	private sub: any;

	constructor(private route: ActivatedRoute) {}

	ngOnInit() {
		this.sub = this.route.params.subscribe(params => {
			this.id = +params['id']; // (+) converts string 'id' to a number
		});
	}

	ngOnDestroy() {
		this.sub.unsubscribe();
	}
}
				</code></pre>
			</section>
			<section>
				<h2>Guard</h2>
				<ul>
					<li>Can prevent route to be activated</li>
					<li>Can be useful for security restriction</li>
					<li>Can be useful for dirty form</li>
					<li>Can be async</li>
					<li>Only prevent the route change, do not hide router-link</li>
				</ul>
			</section>
			<section>
				<h2>Guard: declaration</h2>
				<pre><code data-trim class="typescript">
@Injectable()
export class RoleGuard implements CanActivate {

	constructor(readonly securityService: SecurityService) {
	}

	canActivate(route: ActivatedRouteSnapshot,
			state: RouterStateSnapshot)
			: Observable< boolean > | Promise< boolean > | boolean {
		let roles = route.data["roles"] as Array< RoleType >;
		return this.securityService.hasOneRole(...roles).take(1);
	}
}
				</code></pre>
			</section>
			<section>
				<h2>Guard: usage</h2>
				<pre><code data-trim class="typescript">
const appRoutes: Routes = [{
	path: 'pacs-door-groups',
	component: DoorGroupsView,
	canActivate: [RoleGuard],
	data: {roles: [
		RoleType.ROLE_GLOBAL_ADMIN,
		RoleType.ROLE_PACS_OPERATOR_SETUP
	]}
}];
				</code></pre>
			</section>
		</section>
		<section>
			<section>
				<h2>Angular compilation</h2>
				<ul>
					<li>Compile angular stuff into plain javascript/html</li>
					<li>Handled by package angular@compiler</li>
					<li>JIT: Run in browser</li>
					<li>AOT: Run at compile time</li>
				</ul>
			</section>
			<section>
				<h2>JIT: Just In Time</h2>
				<ul>
					<li>Compiler included in bundle</li>
					<li>Compilation made in browser</li>
					<li>Compilation made when route activated</li>
					<li>Do not compile useless stuff</li>
					<li>Quicker for development</li>
					<li>Bundle was smaller, now more or less equal to AOT</li>
				</ul>
			</section>
			<section>
				<h2>AOT: Ahed Of Time</h2>
				<ul>
					<li>Compile at build</li>
					<li>Compiler not included in final bundle</li>
					<li>Compile everything</li>
					<li>Increase build time</li>
					<li>Bundle now smaller due to late optimisation</li>
					<li>Default option for angular cli with profile "prod"</li>
					<li>Faster loading in browser</li>
				</ul>
			</section>
		</section>

		<section>
			<section>
				<h2>Lazy loading</h2>
				<ul>
					<li>Module load only when needed</li>
					<li>Loading of the module trigged by route change</li>
					<li>The browser will then load a new js file</li>
					<li>Can speedup big application</li>
				</ul>
			</section>
			<section>
				<h2>Declaration</h2>
				<pre><code data-trim class="typescript">
const appRoutes: Routes = [
	{path: 'camera', component: CameraListComponent},
	{path: 'lazy', loadChildren: './lazy/lazy.module#LazyModule'},
	{path: '', redirectTo: 'camera', pathMatch:'full'},
	{path: '**', redirectTo: ''}
];
				</code></pre>
			</section>
			<section>
				<h2>Lazy chunk</h2>
				<img src="images/lazy-loading-time.png" />
			</section>
		</section>
		<section>
			<h2>Angular universal</h2>
			<p><a href="https://universal.angular.io/">universal.angular.io</a></p>
			<ul>
				<li>Server side compilation</li>
				<li>Can improve loading time</li>
				<li>Improve crawls from search engine</li>
				<li>Project at early stage</li>
			</ul>
			<p><a href="https://blog.devintent.com/whats-the-state-of-angular-universal-and-aot-3f5aa6605cc7">Blog post that compare AOT and Universal</a></p>
		</section>
		<section>
			<h2>Service worker</h2>
			<ul>
				<li>Package angular@service-worker</li>
				<li>Help creating service worker for your app</li>
				<li>Progressive web app</li>
				<li>Project at early stage</li>
				<li>Integrated with angular-cli</li>
			</ul>
		</section>
		<section>
			<img src="images/cat-question-2.jpg" />
		</section>
		<section>
			<h2>Next: <a href="./angular-additional-topics.html">Additional topics</a></h2>
		</section>

	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/lib/js/head.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/js/reveal.min.js"></script>

<script>

	// Full list of configuration options available at:
	// https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
		controls: false,
		progress: true,
		history: true,
		center: true,
		hideAddressBar: true,
//				parallaxBackgroundImage: 'background/reveal-parallax-1.jpg', // e.g. "https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg"
//				parallaxBackgroundSize: '2100px 900px', // CSS syntax, e.g. "2100px 900px" - currently only pixels are supported (don't use % or auto)
//				parallaxBackgroundHorizontal: 200,
//				parallaxBackgroundVertical: 50,
		transition: 'none', // none/fade/slide/convex/concave/zoom

		// Optional reveal.js plugins
		dependencies: [
			{
				src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/lib/js/classList.js',
				condition: function () {
					return !document.body.classList;
				}
			},
			{
				src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/plugin/markdown/marked.js',
				condition: function () {
					return !!document.querySelector('[data-markdown]');
				}
			},
			{
				src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/plugin/markdown/markdown.min.js',
				condition: function () {
					return !!document.querySelector('[data-markdown]');
				}
			},
			{
				src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/plugin/highlight/highlight.min.js',
				async: true,
				condition: function () {
					return !!document.querySelector('pre code');
				},
				callback: function () {
					hljs.initHighlightingOnLoad();
				}
			},
			{src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/plugin/zoom-js/zoom.min.js', async: true},
			{src: 'http://cdn.rawgit.com/hakimel/reveal.js/3.5.0/plugin/notes/notes.js', async: true}
		]
	});

</script>

</body>
</html>
